@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300&subset=latin,cyrillic-ext);

body{
  background: #BBDEFB;
  font-family: "Open Sans", sans-serif;
}

.page-header{
  height: 150px;
  width: 100%;
  background: #1976D2;
  h1{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    margin-top: 60px;
  }
}
input[type="text"].warning{
  -webkit-box-shadow: 0 0 0 2px rgba(238,17,17,.9);
  -moz-box-shadow: 0 0 0 2px rgba(238,17,17,.9);
  box-shadow: 0 0 0 2px rgba(238,17,17,.9);
}
.main-container{
  width: 680px;
  margin: 40px auto 0 auto;
  #first-step{
    .class-input{
      background: #2196F3;
      color: #fff;
      font-weight: 300;
      margin-top: 1px;
      padding: 10px;
      input[type="text"]{
        margin: 0 10px;
        height: 10px;
        &.num-of-pupils{
          width: 40px;
        }
      }
    }
    .btn-group{
      text-align: center;
      margin-top: 15px;
      .btn{
        display: inline-block;
        font-size: 15px;
      }
    }
  }
  #second-step{
    display: none;
    background: #2196F3;
    color: #fff;
    padding: 10px;
    input[type="text"]{
      width: 15px;
      height: 15px;
      margin: 5px;
    }
    .marks{
      border-bottom: 1px solid #fff;
      padding: 10px 0;
      h2{
        margin-bottom: 7px;
      }
    }
    #calculate-marks{
      font-size: 15px;
      margin-top: 12px;
      margin-bottom: 5px;
    }
  }
  .btn{
    background: #FFD740;
    padding: 5px 7px;
    border: none;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="text"]{
    outline: none;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    height: 10px;
  }
  p{
    font-weight: 300px;
    font-style: italic;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px 0;
    text-align: center;
  }
}

#third-step{
  display: none;
}
  table{
    border: solid 1px #fff;
    margin: 25px auto;
    color: #fff;
    thead{
      text-align: center;
      tr{
        background: #1976D2 !important;
      }
    }
    tr{
      background: #2196F3;
    }
    td {
      padding: 6px;
      border: solid 1px #fff;
    }
  }
