/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300&subset=latin,cyrillic-ext);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #BBDEFB;
  font-family: "Open Sans", sans-serif; }

.page-header {
  height: 150px;
  width: 100%;
  background: #1976D2; }
  .page-header h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    margin-top: 60px; }

input[type="text"].warning {
  -webkit-box-shadow: 0 0 0 2px rgba(238, 17, 17, 0.9);
  -moz-box-shadow: 0 0 0 2px rgba(238, 17, 17, 0.9);
  box-shadow: 0 0 0 2px rgba(238, 17, 17, 0.9); }

.main-container {
  width: 680px;
  margin: 40px auto 0 auto; }
  .main-container #first-step .class-input {
    background: #2196F3;
    color: #fff;
    font-weight: 300;
    margin-top: 1px;
    padding: 10px; }
    .main-container #first-step .class-input input[type="text"] {
      margin: 0 10px;
      height: 10px; }
      .main-container #first-step .class-input input[type="text"].num-of-pupils {
        width: 40px; }
  .main-container #first-step .btn-group {
    text-align: center;
    margin-top: 15px; }
    .main-container #first-step .btn-group .btn {
      display: inline-block;
      font-size: 15px; }
  .main-container #second-step {
    display: none;
    background: #2196F3;
    color: #fff;
    padding: 10px; }
    .main-container #second-step input[type="text"] {
      width: 15px;
      height: 15px;
      margin: 5px; }
    .main-container #second-step .marks {
      border-bottom: 1px solid #fff;
      padding: 10px 0; }
      .main-container #second-step .marks h2 {
        margin-bottom: 7px; }
    .main-container #second-step #calculate-marks {
      font-size: 15px;
      margin-top: 12px;
      margin-bottom: 5px; }
  .main-container .btn {
    background: #FFD740;
    padding: 5px 7px;
    border: none;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer; }
  .main-container input[type="text"] {
    outline: none;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    height: 10px; }
  .main-container p {
    font-weight: 300px;
    font-style: italic;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px 0;
    text-align: center; }

#third-step {
  display: none; }

table {
  border: solid 1px #fff;
  margin: 25px auto;
  color: #fff; }
  table thead {
    text-align: center; }
    table thead tr {
      background: #1976D2 !important; }
  table tr {
    background: #2196F3; }
  table td {
    padding: 6px;
    border: solid 1px #fff; }

/*# sourceMappingURL=main.css.map */
