<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Онлайн-сервіс для побудови звітів навчальних досягнень</title>
  <link rel="stylesheet" href="css/main.css"/>
  <style>
    #go-back{
      background: #ffd740;
      padding: 5px 7px;
      border: none;
      outline: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      cursor: pointer;
      width: 59px;
      text-align: center;
      display: block;
      margin: 0 auto;
    }
  </style>
</head>
<body>
<header class="page-header">
  <h1>Онлайн-сервіс для побудови звітів навчальних досягнень</h1>
</header>
<section class="main-container">
  <div id="first-step">
    <p>Введіть назву класу, кількість учнів. Щоб додати новий клас, натисніть "Додати клас". Щоб перейти до вводу оцінок, натисніть "Готово".</p>
    <form id="names-of-classes"></form>
    <script id="class-input-tmp" type="text/template">
      <div id="<%= classCid %>" class="class-input">
        <label>Введіть назву класу</label>
        <input class="name-value" placeholder="10-A" type="text"/>
        <label>Введіть кількість учнів</label>
        <input class="num-of-pupils" placeholder="10" type="text"/>
        <input class="remove-class btn" type="button" value="Видалити">
      </div>
    </script>
    <div class="btn-group">
      <button id="add-new-class" class="btn">Додати клас</button>
      <button id="classes-ready" class="btn">Готово</button>
    </div>
  </div>
  <div id="second-step">
    <script id="class-marks-tmp" type="text/template">
      <div class="marks <%= classCid %>">
        <h2>Введіть оцінки класу <%= className %>:</h2>
        <form class="marks-values">
          <%= inputsForMarks %>
        </form>
      </div>
    </script>
  </div>
</section>


<div id="third-step">
  <table border="1" width="800px" id="final-table">
    <thead>
    <tr>
      <td rowspan="2" width="100px">Клас</td>
      <td rowspan="2" width="100px">Учнів</td>
      <td colspan="3">Високий</td>
      <td rowspan="2" width="50px">%</td>
      <td colspan="3">Достатній</td>
      <td rowspan="2" width="50px">%</td>
      <td colspan="3">Середній</td>
      <td rowspan="2" width="50px">%</td>
      <td colspan="3">Низький</td>
      <td rowspan="2" width="50px">%</td>
      <td rowspan="2" width="50px">Середній <br/> бал</td>
      <td rowspan="2" width="50px">% <br> успішності</td>
      <td rowspan="2" width="50px">Якісний <br> показник</td>

    </tr>
    <tr>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <script id="class-row-tmp" type="text/template">
      <tr>
        <td><%= name %></td>
        <td><%= pupils %></td>
        <td><%= numOf12 %></td>
        <td><%= numOf11 %></td>
        <td><%= numOf10 %></td>
        <td><%= highLevelPercent %></td>
        <td><%= numOf9 %></td>
        <td><%= numOf8 %></td>
        <td><%= numOf7 %></td>
        <td><%= sufficientLevelPercent %></td>
        <td><%= numOf6 %></td>
        <td><%= numOf5 %></td>
        <td><%= numOf4 %></td>
        <td><%= middleLevelPercent %></td>
        <td><%= numOf3 %></td>
        <td><%= numOf2 %></td>
        <td><%= numOf1 %></td>
        <td><%= beginnerLevelPercent %></td>
        <td><%= average %></td>
        <td><%= successPercent %></td>
        <td><%= quality %></td>
      </tr>
    </script>
    </thead>
  </table>
  <div id="go-back" class="btn">Назад</div>
</div>
<script data-main="js/main" src="js/libs/requirejs/require.js"></script>
</body>
</html>
